/* elements */

body {
  margin: 0em;
  background-image: url("../images/gtpfbg.png");
  background-repeat: repeat;
  background-size: 20%;
  min-height: calc(100vh - 57.03px - 66px) !important;
}

h1, h2 {
  font-family: Georgia, "TimesNew Roman", Times, serif;
  font-weight: bold;
  margin: 0em;
  padding: .4em;
  font-size: 2em;
  width: fit-content;
}

/* classes */

.about-image {
  width: 200px;
  height: auto;
  float: left;
  padding: 0px 20px 0px 0px;
}

.btn {
  border-radius: 0px !important;
  margin-bottom: 1em;
  background-color: #43A099;
}

.fa {
  padding: 1vw;
  color: white;
}

.fa:hover {
  color: black;
}

.navbar {
  margin: 0em;
  background-color: white !important;
  padding: 0rem 1rem !important;
}

.navbar-dark .navbar-toggler {
  color: black !important;
  border-color: black;
  background-color: transparent !important;
}

.navbar-text {
  text-align: center;
}

.pf-img {
  width: 350px !important;
  height: auto;
  padding: 20px 10px 0px 10px;
  padding-bottom: 4vw !important;
}

.portfolio-link-titles {
  color: black;
  font-family: inherit;
  padding: 0vw 0vw 0vw 1vw;
}

/* ids */

#about-me {
  color: #43A099;
  padding: 3vw 1vw 0vw 1vw;
}

#footer {
  color: lightgrey;
  background-color: #666 !important;
  padding: 20px 0px 1px 0px !important;
  border-top: 5px solid #43A099;
}

#footer-text {
  margin: -1vw 0vw 0vw 15vw;
}

#hamburger {
  margin: auto;
  color: black;
}

#header-name {
  background-color: #43A099;
  color:#FCFDFE;
  margin: 0em;
  font-size: 1.8em;
}

#header-nav-link {
  padding: 0rem;
}

#header-row {
  width: 100%;
}

#info-section {
  background-color: white;
  margin: 4em 0em;
}

#name-padding {
  padding: 0;
}

#navbar {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
}

#navlinks {
  margin: auto;
  padding: .75em;
  color: #FAFAFA;
}

/* media query styling */

@media screen and (max-width: 767px) and (min-width: 575px) {
  .pf-img-odd {
    width: 50% !important;
    float: left !important;
  }
  .pf-img-even {
    width: 50% !important;
    float: right !important;
  }
}

@media screen and (max-width: 576px) {
  .pf-img {
    width: 100% !important;
  }
}

